html {
  font-family: arial;
}

html * {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

#app {
  min-height: 100%;
}

#app.navbarHidden > nav {
  left: -7.5em;
}

#app.navbarHidden > main {
  left: 0;
}
